---

---

@charset "utf-8";

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Piazzolla:wght@300&display=swap');

@import "font-awesome";

body {
  background: #fdfdfd;
}

.name, a {
  color: #666a6b;
}

.name, .avatar {
  margin: 35px;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 88px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar {
  vertical-align: middle;
  max-width: 200px;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

a {
  font-family: 'Piazzolla', serif;
  font-size: 8px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  margin: 20px;
}

.fa {
  display: block;
  font-size: 30px;
}

@media only screen
  and (max-device-width: 600px) {
  .content {
    flex-direction: column;
  }

  .name {
    font-size: 50px;
  }
}

@media only screen
  and (min-device-width: 601px)
  and (max-device-width: 700px) {
  .name {
    font-size: 46px;
  }
}

@media only screen
  and (min-device-width: 701px)
  and (max-device-width: 1000px) {
  .name {
    font-size: 60px;
  }
}
